/* =Asides
-------------------------------------------------------------- */

.home .left_Main .format-aside p,
.home .left_Main .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .left_Main .format-aside .entry-content,
.home .left_Main .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1 !important;
}
.gallery br+br {
	display: none;
}
.no_sidebar .attachment img {
	display: block;
	margin: 0 auto;
}
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home .left_Main .format-gallery .entry-utility,
.home .left_Main .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 134%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* image alignment */


img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.aligncenter { 
	display: block; 
	overflow: hidden; 
	text-align: center; 
	margin: 0 auto 10px; 
}

.alignleft { 
	float: left; 
	display: inline; 
	overflow: hidden; 
	margin: 0 10px 10px 0; 
}

.alignright { 
	float: right; 
	display: inline; 
	overflow: hidden; 
	margin: 0 0 10px 10px; 
}

.wp-caption { 
	background: #f1f1f1; 
	line-height: 18px;
	overflow:hidden; 
	margin-bottom: 20px; 
	padding: 4px; text-align: center !important; 
}

.wp-caption img { 
	border: 0 none; 
	margin: 5px 5px 0; 
}

.wp-caption p.wp-caption-text { 
	color: #888; 
	font-size: 12px; 
	margin: 5px; 
}


/* ---------------SIDEBAR ---------------*/
/* general widgets*/
.widget-area { 
	border-bottom: 1px solid #ECEDE8; 
}
.widget { 
	padding: 0 0 0px 0; 
	border: 1px solid #ECEDE8; 
	margin-top: -1px; 
	list-style: none; 
}
.widget ul { 
	padding: 0; 
	margin: 0; 
	list-style: none; 
}
.widget li { 
	list-style: none; 
}
.widget-title { 
	background: #FAFAFA repeat-x left center; 
	padding: 5px 8px 4px 8px; 
	text-transform: uppercase; 
	color: #333333; 
	font-family: Arial,serif; 
	font-size: 13px; 
}
.widget-title a { 
	color: #333333; 
}
.widget ul li { 
	border-top: 1px solid #ECEDE8; 
	padding: 5px 15px; 
}

.widget ul li:hover { 
	background: #fafafa; 
}
.widget > div {
	padding: 4px 2px; 
	border-top: 1px solid #ECEDE8; 
}
.widget_tag_cloud div, .textwidget { 
	padding: 4px 2px; 
	border-top: 1px solid #ECEDE8; 
}
.widget_tag_cloud .subcontainer div a {
	padding: 0px 4px;
}

#wp-calendar { 
	width: 100%; 
}
#wp-calendar caption { 
	font-weight: bold; 
	color: #222; 
	text-align: center; 
	font-size: 14px; 
	padding-bottom: 4px; 
}
#wp-calendar thead { 
	font-size: 11px; 
}
#wp-calendar thead th { }
#wp-calendar tbody { 
	color: #aaa; 
}
#wp-calendar tbody td { 
	padding: 3px 0 2px; 
	background: #f5f5f5; 
	border: 1px solid #fff; 
	text-align: center; 
}
#wp-calendar tbody .pad { 
	background: none; 
}
#wp-calendar tfoot #next { 
	text-align: right; 
}
.widget_rss a.rsswidget { 
	color: #000; 
}
.widget_rss a.rsswidget:hover { 
	color: #FF4B33; 
}
.widget_rss .widget-title img { 
	height: 11px; 
	width: 11px; 
}


.page-link {
	color: #000;
	font-weight: bold;
	margin: 5px 0 20px 0;
	word-spacing: 0.5em;
	float: left;
	font-size:15px;
	width:100%
}
.page-link a:link,
.page-link a:visited {
	background: #EEEEEE;
	color: #333;
	font-weight: bold;
	padding: 0.5em 0.75em;
	text-decoration: none;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 17px;
	line-height: 18px;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: 10px 0px 10px 0px;
	padding-bottom:20px;
}

.left_Main,
.left_Main input,
.left_Main textarea {
	color: #333;
	font-size: 16px;
	line-height: 24px;
}
.left_Main p,
.left_Main ul,
.left_Main ol,
.left_Main dd,
.left_Main pre,
.left_Main hr {
	margin-bottom: 24px;
}
.left_Main ul ul,
.left_Main ol ol,
.left_Main ul ol,
.left_Main ol ul {
	margin-bottom: 0;
}
.left_Main pre,
.left_Main kbd,
.left_Main tt,
.left_Main var {
	font-size: 15px;
	line-height: 21px;
}
.left_Main code {
	font-size: 13px;
}
.left_Main dt,
.left_Main th {
	color: #000;
}
.left_Main table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
.left_Main tr th,
.left_Main thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
.left_Main tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
.left_Main tr.odd td {
	background: #f2f7fc;
}
.home .sticky {
    background: none repeat scroll 0 0 #F2F7FC;
    border-top: 2px solid #000000;
    margin-left: -5px;
		margin-bottom:10px;
    padding: 0px 5px 10px;
}
.tagcloud {
	line-height:25px;
}
.k_main fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.k_main fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.k_main input {
	margin: 0 0 24px 0;
}
.k_main input.file,
.k_main input.button {
	margin-right: 24px;
}
.k_main label {
	color: #888;
	font-size: 12px;
}
.k_main select {
	margin: 0 0 24px 0;
}
.k_main sup,
.k_main sub {
	font-size: 10px;
}

.page-title {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}

.no_sidebar .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 15px;
}

.entry-meta {
	color: #888;
	font-size: 15px;
	margin-bottom:15px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
#site-title {
    float: left;
    font-size: 30px;
    line-height: 36px;
    margin: 9px 0 18px 10px;
    width: 700px;
}
#site-title a {
	color: #000000;
	font-weight: bold;
}
#site-description {
    float: right;
    font-style: italic;
    margin: 25px 0 18px;
    width: 220px;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 13px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
	text-decoration:underline;
}
