<IfModule mod_php4.c>
  php_value engine off
</IfModule>
<IfModule mod_php5.c>
  php_value engine off
</IfModule>
# secure uploads directory
RewriteCond %{REQUEST_URI} ^/uploads [NC]
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|jpe|gif|png|tif|tiff)$ [NC]
RewriteRule .* - [F,L]
